<div class="actions">
	<a class="remove-filter" href="#" title="Reset filters">
		<span class="container-icon"><i class="glyphicon glyphicon-repeat"></i></span>
	</a>
</div>
<h2><%- settings.get('label') %></h2>
<div class="table-search-wrap">
	<i class="search-icon"></i>
	<input type="text" class="table-search" value="<%- searchQuery %>" />
	<a class="search-reset" href="#"></a>
</div>
<div class="chart-container">
    <% if (values.length > 0) { %>
        <table class="table table-sort-wrap<% if (cut) { %> cut<% } %>">
            <tr class="sort">
                <th class="table-chevron-left">
                    <a href="#" class="table-sort <%= (sortDirection == 1) ? 'asc' : 'desc' %><% if (sortProperty == 'label') { %> active<% } %>" data-sort-property="label">
                        <i class="icon-sort"></i>
                        <span><%- settings.get('label') %></span>
                    </a>
                </th>
                <th>
                    <a href="#" class="table-sort <%= (sortDirection == 1) ? 'asc' : 'desc' %><% if (sortProperty == 'total') { %> active<% } %>" data-sort-property="total">
                        <i class="icon-sort"></i>
                        <span><%- settings.get('measure_label') %></span>
                    </a>
                </th>
            </tr>
        </table>
        <div class="scroll">
            <table class="table data-table<% if (cut) { %> cut<% } %>">
                <% _.each(values, function(observation) { %>
                    <tr<% if (observation.cut) { %> class="cut-active"<% }%>
                        data-value="<%- format.data(observation.id) %>"
                        data-content="<%- observation.label.toLowerCase() %>">
                        <td><a href="#"><%- observation.label %></a></td>
                        <td><a href="#"><%- numFormatter(observation.total) %></a></td>
                    </tr>
                <% }); %>
            </table>
        </div>
    <% } %>
</div>
