<h2><%- label %></h2>
<% _.each(dimensions, function(dimension) {
    var maxAvailableLevel = null,
        minAvailableLevel = null,
        currentLevel = null,
        dimensionValuesByLevel = null
        parentDimensionIds = null,
        levelField=null;
    if(!_.isUndefined(dimension['hierarchy']) && !_.isUndefined(dimension['dataset_cut'][dimension['hierarchy']['level_field']])){
        maxAvailableLevel = dimension['hierarchy']['available_levels']['upper_bound'];
        minAvailableLevel = dimension['hierarchy']['available_levels']['lower_bound'];
        currentLevel = dimension['dataset_cut'][dimension['hierarchy']['level_field']];
        dimensionValuesByLevel = dimension['hierarchy']['values_by_level'];
        parentDimensionIds = dimension['hierarchy']['ancestor_fields'];
        levelField = dimension['hierarchy']['level_field'];
    }%>
    <div class="filter-group " data-dimension="<%- dimension['id'] %>">
        <h3><%- dimension['label'] %></h3>
        <div id="<%- dimension['dimension_filter_id'] %>" class="info-body<% if (!_.isUndefined(dimension['cut'])) {%> cut<% } %>">
            <%if(!_.isNull(maxAvailableLevel) && !_.isNull(currentLevel)){
                for(i = maxAvailableLevel; i >= currentLevel ; i--){
                    var parentDimensionId = parentDimensionIds[(i - 1) - 1],
                        parentCutValue = dimension['dataset_cut'][parentDimensionId];%>
                <select class="form-control dimension-cut" data-hlevel="<%- i %>">
                    <option data-value="-all-" <%if (_.isUndefined(parentCutValue)){%> selected="selected" <% } %>>All</option>
                    <%if(!_.isUndefined(dimensionValuesByLevel[i -1]) && i > minAvailableLevel){
                        _.each(dimensionValuesByLevel[i - 1], function(value) { %>
                        <option data-value="<%- value['id'] %>"<%
                            if (value['id'].split(':')[1] === parentCutValue) {cutWrapperClass='cut-wrapper active'; selectedAttr='selected="selected"'}
                            else{ cutWrapperClass='cut-wrapper';selectedAttr=''} %> class="<%- cutWrapperClass %>" <%- selectedAttr %>>
                            <%- value['label'] %><% if (!_.isUndefined(value['totalFormat'])) {%> (<%- value['totalFormat'] %>) <% } %>
                        </option>
                        <% });

                    }%>
                </select>
                <% }
            }else{ %>
            <select class="form-control dimension-cut">
                <% if (!dimension.required){ %>
                    <option data-value="-all-"<% if (!_.isUndefined(dimension['cut'])) {%> selected="selected"<% } %>>All</option>
                <% } %>
                <%_.each(dimension['values'], function(value) { %>
                <option data-value="<%- value['id'] %>"<%
                    if (dataset.hasCutId(dimension.id, value.id)) {cutWrapperClass='cut-wrapper active'; selectedAttr='selected="selected"'}
                    else{ cutWrapperClass='cut-wrapper';selectedAttr=''} %> class="<%- cutWrapperClass %>" <%- selectedAttr %>>
                    <%- value['label'] %><% if (!_.isUndefined(value['totalFormat'])) {%> (<%- value['totalFormat'] %>) <% } %>
                </option>
                <% });%>
            </select>
            <% }%>
        </div>
    </div>
<% }); %>
