// Visualisation Variables
// -----------------------------------------

// Path
// -------------------
@dsBaseUrl: '/public/';


// Colours
// -------------------
/*font colours*/
@dsFontGrey: #89939d;

/*general colors*/
@dsLighterBlue: #4972bd;

/*input colours*/
@dsInputBorder: #e8eaef;

@dsTooltip: #70727d;


// Typography
// -------------------
@dsFontRegular:         "gibson regular", Helvetica, Arial, sans-serif;
@dsFontSemibold:        "gibson semibold", Helvetica, Arial, sans-serif;

//gibson regular
@font-face{
    font-family: 'gibson regular';
    src: url('@{dsBaseUrl}font/gibson_regular_macroman/Gibson-Regular-webfont.eot');
    src: url('@{dsBaseUrl}font/gibson_regular_macroman/Gibson-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('@{dsBaseUrl}font/gibson_regular_macroman/Gibson-Regular-webfont.woff') format('woff'),
        url('@{dsBaseUrl}font/gibson_regular_macroman/Gibson-Regular-webfont.ttf') format('truetype'),
        url('@{dsBaseUrl}font/gibson_regular_macroman/Gibson-Regular-webfont.svg#webfont') format('svg');
}

//gibson semibold
@font-face{
    font-family: 'gibson semibold';
    src: url('@{dsBaseUrl}font/gibson_semibold_macroman/Gibson-SemiBold-webfont.eot');
    src: url('@{dsBaseUrl}font/gibson_semibold_macroman/Gibson-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
        url('@{dsBaseUrl}font/gibson_semibold_macroman/Gibson-SemiBold-webfont.woff') format('woff'),
        url('@{dsBaseUrl}font/gibson_semibold_macroman/Gibson-SemiBold-webfont.ttf') format('truetype'),
        url('@{dsBaseUrl}font/gibson_semibold_macroman/Gibson-SemiBold-webfont.svg#webfont') format('svg');
}

// Iconography
@icon-font-path:          "../../font/glyphicons-halflings/";
