// Dataseed Visualisation Variables
// -----------------------------------------

// Colours
// -------------------

@dsLighterBlue: #4972bd;
@dsInputBorder: #e8eaef;
@dsTooltip: #70727d;

// Iconography
// -------------------

@icon-font-path: "../../font/glyphicons-halflings/";