// VISUALISATION PAGE
// --------------------------------------------------

// ICONS
// --------------------------------------------------

.container-icon {
    display: block;
    width: 18px;
    height: 19px;
    padding: 3px 0 0 4px;
    .border-radius(12px);
    background: @dsBlue;

    .icon-refresh {
        background-position: -240px -25px;
        -moz-transform: rotate(145deg) scaleX(-1);
        -o-transform: rotate(145deg) scaleX(-1);
        -webkit-transform: rotate(145deg) scaleX(-1);
        -ms-transform: rotate(145deg) scaleX(-1);
        transform: rotate(145deg) scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
}

.container-icon:hover {
    background: @dsMediumGrey;
}

// VISUALISATION
// --------------------------------------------------

.visualisation {
    background-color: #f3f3f3;

    .container {
        position: relative;
    }
}

// VISUALISATION HEADER
// --------------------------------------------------

/*Styles for only for mortality dataset*/
div#mortality {
    /*Blue lines*/
    .summary-text.full {
        background: transparent;
        background-image: url('@{dsBaseUrl}img/blue-lines.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 700px;
    }

    .summary-text {
        padding: 25px 0 32px 0;
        h1 {
            border: 1px solid #6bc5e8;
        }
    }

    article.summaryElement {
        margin-bottom: 0;
    }
}

article.summaryElement {
    background-color: transparent;
}

.sub-heading {
    background: @grayDarker;
    .clearfix();

    h1 {
        font-size: 30px;
        margin: 30px 0 0 0;
        line-height: 1em;
    }

    h2 {
        font-size: 14px;
        margin-bottom: 15px;
        float: left;
    }

    p {
        float: right;
        margin-right: 10px;

        /*Help icon (i)*/
        a {
            display: block;
            width: 18px;
            height: 18px;
            padding: 4px 0 0 4px;
            .border-radius(12px);
            background-color: @white;
        }
    }

    .icon-info-sign {
        background-position: -120px -97px;
        vertical-align: baseline;
    }
}

.summary-text {
    h1 {
        margin: 0;
        padding: 17px 0 17px 10px;
        font-size: 21px;
        font-weight: normal;
        text-align: center;
        color: @headingsColor;
        background-color: @white;
    }
}

.global-actions {
    position: absolute;
    top: 0;
    right: 10px;
    padding-top: 10px;
    z-index: 1;

    a {
        font-weight: bold;
        color: @blue;

        .container-icon {
            float: right;
            margin-left: 10px;

            i {
                margin-left: -1px;
                margin-top: -1px;

            }
        }

    }

    a:hover {
        text-decoration: none;
    }

}


// CHART ELEMENTS
// --------------------------------------------------

.elements {
    margin-top: 40px;
}

.element {
    background-color: @white;
    font-size: 11px;
    margin-bottom: 10px;
    position: relative;
    overflow: auto;

    h2 {
        font-size: 18px;
        font-weight: normal;
        margin: 0px 10px 20px 10px;
        color: @dsMediumGrey;
        padding-top: 10px;
    }

    /*Hiding the reset button*/
    .container-icon.fade.in {
        display: block;
    }

    .container-icon.fade {
        display: none;
    }

    /*Refresh icon*/
    .icon-refresh {
        vertical-align: baseline;
        margin-top: 2px;
        margin-left: -1px;
    }

}

.actions {
    float: right;
    margin: 8px 10px 0 0;

    a .container-icon {
        float: left;
        width: 18px;
        height: 21px;
        padding: 1px 0 0 4px;
        margin-left: 2px;
    }

    .switcher {
        float: left;
        margin-left: 2px;

        .dropdown-toggle {
            font-size: 11px;
            color: @black;
        }

        a {
            display: block;
            font-family: @sansFontFamily;
            font-size: 11px;
        }

    }

}

// Making charts fit in containers
svg {
    width: 100%;
}

rect,
circle,
path,
.chartLabel {
    cursor: pointer;
}

rect.scale {
    cursor: auto;
}

// TABLE CHART
// --------------------------------------------------

// Table search bar
.table-search-wrap {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -15px;
}

.search-icon {
    background-image: url('@{dsBaseUrl}img/search-icon.gif');
    background-repeat: no-repeat;
    background-size: 15px;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 28px;
    left: 8px;
}

.search-reset {
    background-image: url('@{dsBaseUrl}img/search-reset.gif');
    background-repeat: no-repeat;
    background-size: 15px;
    width: 15px;
    height: 15px;
    display: inline-block;
    float: right;
    position: relative;
    top: -32px;
    left: -8px;
    cursor: pointer;
    visibility: hidden;
}

input.table-search {
    width: 100%;
    height: 30px;
    padding-left: 30px;
    padding-right: 30px;

    .gradient(#f2f2f2, white);
    .border-radius(0px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input.table-search::-ms-clear {
    display: none;
}

// no result text
.no-result {
    font-size: 15px;
    text-align: center;
    padding: 0 30px;
}

// found text
.found {
    font-size: 14px;
    text-align: center;
    margin-top: 0;
}

.table-sort:hover {
    color: @dsMediumGrey;
}

// Sort chevron
i.icon-sort {
    .rotate(90deg);
    width: 14px;
    height: 14px;
    background-image: url('@{dsBaseUrl}img/grey-arrow.gif');
    background-repeat: no-repeat;
    background-size: 7px;
    background-position: 4px center;
}

//chevron up
.asc {
    i.icon-sort {
        .rotate(-90deg);
    }
}

.tableElement {
    overflow: initial;

    //the table header, sort
    th {
        border-left: 1px solid #dddddd;
        padding: 0;

        //hide all chevron
        a {
            display: block;
            text-align: center;
            i {
                visibility: hidden;
            }
        }

        //show chevron on hover
        a:hover {
            i {
                visibility: visible;
            }
        }

        //show chevron for active th
        a.active i {
            visibility: visible;
        }

        /* Chevron title color */
        span {
            color: @dsMediumGrey;
            font-weight: 400;
            text-decoration: underline;
        }

        span:hover {
            text-decoration: none;
        }
    }

    .table {
        margin-bottom: 0;
    }


    th.table-chevron-left {
        border-left: none;
    }

    th:hover {
        background-color: #c8c8c8;
    }

    tr:hover {
       cursor: pointer;
       background-color: @tableBackgroundHover;
    }

    td {
    padding: 0;
    overflow: hidden;

        a {
            display: block;
            padding: 5px;
            padding-bottom: 1000px;
            margin-bottom: -995px;
        }

        a:hover {
            text-decoration: none;
        }
    }

    /* Table td section */
    .scroll {
        overflow: auto;
    }
}

// LINE CHART
// --------------------------------------------------

.axis path,
.axis line {
  shape-rendering: crispEdges;
}

// FACETED NAVIGATION
// --------------------------------------------------

.navigationElement {

    h3 {
        margin: 0;
        font-size: 13px;

        a {
            display: block;
            position: relative;
            padding: 15px 15px 15px 13px;
            color: @dsMediumGrey;
            text-decoration: none;
            outline: 0;

            i {
                background-image: url('@{dsBaseUrl}img/grey-arrow.gif');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 8px;
                display: inline-block;
                width: 10px;
                height: 10px;
                .rotate(90deg);
            }
        }

        .collapsed i {
            .rotate(0deg);
        }

        .filter-info {
            font-weight: normal;
            margin-left: 5px;
        }

    }

    .table {
        td {
            border: none;
            padding: 0 20px;

            .dimension-cut {
                span.check-btn {
                    width: 13px;
                    height: 13px;
                    display: inline-block;
                    background: none;
                    border: 1px solid @dsGrey;
                }

                span.cut-label{
                    position: relative;
                    bottom: 2px;
                }

                input[type="checkbox"] {
                    display: none;
                }

                input:checked + span.check-btn {
                    background: url('@{dsBaseUrl}img/checkbox-tick-white.gif');
                    background-color: @dsBlue;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 9px;
                }

            }
        }

        .right {
            text-align: right;
        }
    }

}

// FILTER FORM ELEMENTS
// --------------------------------------------------

.filterFormElement {

  select {
    width: auto;
    display: block;
  }

}

// TOOLTIPS
// --------------------------------------------------

.tipsy {
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
    z-index: 100000;
}

.tipsy-inner {
    background-color: @black;
    color: @white;
    max-width: 200px;
    padding: 5px 8px;
    text-align: left;
}

// DATASET INFO
// --------------------------------------------------
#dataset-info {
    margin: 0 0 40px 0;
    padding-top: 5px;

    article {
        background-color: #dfdede;
        margin-bottom: 4px;
    }

    h1 {
        margin: 0;
        font-size: 13px;

        a {
            display: block;
            position: relative;
            padding: 15px;
            color: @black;
            text-decoration: none;

            span {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                margin: 17px 25px 0 0;
                width: 34px;
                height: 16px;
                background: url('@{dsBaseUrl}img/arrows.png') no-repeat 0 0;
            }

        }

    }

    .info-body {
        overflow: hidden;
        padding: 0 15px;

        h2 {
            margin: 0;
            color: #525252;
            font-size: 13px;
        }

        p {
            margin-top: 0;
            font-size: 13px;
        }

    }

}


// HELP
// --------------------------------------------------
.modal h3 {
    margin: 5px 0;
    font-size: 17px;
}

.modal.fade {
  z-index:-1;
}

.modal.fade.in {
  z-index:1050;
}

