// VISUALISATION
// --------------------------------------------------
.visualisation {
    padding: 10px 0 20px 0;
}

/*Embedded Message*/
.power-message {
    p {
        float: right;
        margin-top: 30px;
        font-size: 13px;

        a {
            font-size: 13px;
            color: @dsLighterBlue;
        }
    }
}

// SUMMARY ELEMENT
// --------------------------------------------------
.summaryElement {
    h1 {
        padding: 0 10px;
        text-align: center;
        font-size: 16px;
        margin: 0;
        width: 100%;
        // Vertically centres text within element. Moves text 50% from top.
        position: absolute;
        top: 50%;
        .translate(0, -50%);
    }

    .inner-element {
        position: relative;
        height: 100%;
        .border-radius(3px);
    }

    .actions {
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 1;
    }
}

// ELEMENT CHART
// --------------------------------------------------
.inner-element {
    position: relative;
    overflow: hidden;
    height: 100%;
    .border-radius(3px);

    .actions {
        position: absolute;
        right: 15px;
        top: 10px;
    }

    h2 {
        padding: 10px 30px 10px 10px;
        font-size: 16px;
        margin-bottom: 15px;
        margin-top: 0;
        border-bottom: 1px solid @dsInputBorder;
        word-break: break-all;
    }

    .glyphicon-repeat {
        font-size: 14px;
        .scale(-1, 1);
    }

    g {
        cursor: pointer;
    }

    .chart-container {
        font-size: 0;
        line-height: normal;

        svg {
            font-size: 12px;
        }
    }
}

.remove-filter {
    .container-icon {
        display: none;
    }
}

.remove-filter:hover, .download-svg:hover {
    text-decoration: none;
}

.bottom-actions {
    position: absolute;
    right: 15px;
    bottom: 10px;
}
.bottom-actions .download-svg {
    color: @icon-color;
    font-size: 1.4em;
    &:hover{ color: @icon-hover-color; }
    &:active{ 
        color: @icon-pressed-color; 
        position: relative;
        top: 1px;
    }
    
}


// TABLE CHART
// --------------------------------------------------
.chart-container table{
    font-size: 12px;
}

.tableElement {
    overflow: hidden;
    min-height: 235px;

    .scroll {
        overflow: auto;
    }

    th {
        word-break: break-all;
    }
}

// Table search bar
.table-search-wrap {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;

    input.table-search {
        width: 100%;
        height: 30px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 15px;
        border-color: @dsInputBorder;

        .border-radius(0px);
        .box-sizing('border-box');
    }
}

.search-reset,
.search-icon {
    position: absolute;
    top: 9px;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 15px;
}

.search-icon {
    left: 19px;
    background-image: url('../../img/search-icon.gif');
}

.search-reset {
    display: none;
    right: 19px;
    background-image: url('../../img/search-reset.gif');
}

.no-result {
    font-size: 15px;
    padding: 0 30px 30px 30px;
}

// found text
.found {
    font-size: 14px;
}

.table-sort-wrap {
    margin-bottom: 0;
}


// Sort chevron
i.icon-sort {
    display: inline-block;
    .rotate(90deg);
    width: 14px;
    height: 14px;
    background: url('../../img/grey-arrow.gif') 4px center / 7px no-repeat;
}

//chevron up
.asc {
    i.icon-sort {
        .rotate(-90deg);
    }
}

// NAVIGATION CHART
// --------------------------------------------------
.navigationElement {
    h2 {
        margin-bottom: 0;
    }
    .accordion {
        overflow-y: auto;

        h3 {
            padding: 0 10px;
        }


        td {
            border-top: 0;
            vertical-align: middle;
            padding: 0 8px;
            font-size: 12px;

            input {
                height: auto;
            }
        }
    }
}

// TOOLTIPS
// --------------------------------------------------

// Base Tipsy Styles
.tipsy {
    font-size: 10px;
    position: absolute;
    padding: 5px;
    z-index: 100000;
}

.tipsy-inner {
    background-color: #000;
    color: #FFF;
    max-width: 200px;
    padding: 5px 8px 4px 8px;
    text-align: center;
}

/* Rounded corners */
.tipsy-inner {
    .border-radius(3px);
}

.tipsy-arrow {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    border: 5px dashed #000;
}

/* Rules to colour arrows */
.tipsy-arrow-s {
    border-top-color: #000;
}
.tipsy-s .tipsy-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.tipsy-arrow-w {
    border-right-color: #000;
}

.tipsy-w {
    margin-left: 10px;
}
.tipsy-w .tipsy-arrow {
    left: 0;
    top: 50%;
    margin-top: -5px;
    border-right-style: solid;
    border-left: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
// Custom Tipsy Styles
.tipsy {
    position: absolute;
    font-size: 13px;
    padding: 5px;
    z-index: 100000;
}

.tipsy-inner {
    background-color: @dsTooltip;
    color: white;
    max-width: 200px;
    padding: 5px 8px;
    text-align: left;
}

.tipsy-arrow-s {
    border-top-color: @dsTooltip;
}

.tipsy-arrow-w {
    border-right-color: @dsTooltip;
}

// Mobile Styles <768px
// -----------------------------------------

@media (max-width: 767px) {
    .element {
        margin: 0 15px 15px 15px;
    }
}
